.container {
  max-width: 100%;
}
img {
  max-width: 100%;
}

/* 機能の実装に必要なCSS */

/* ドロワーナビゲーションの必須スタイル */
#nav {
  position: fixed;
  right: -310px;
  top: 0;
  width: 270px;
  height: 100%;
}

/* ドロワーナビゲーションが開かれたスタイル */
.show {
  transform: translate3d(-310px, 0, 0);
}

/* ヘッダーにボタンを配置 */
header {
  padding: 16px 0;
  background: skyblue;
}
header .container {
  display: flex;
  justify-content: space-between;
}
.title-block {
  flex: 1 1 auto;
}
.hamburger {
  flex: 0 0 32px;
  align-self: center;
  margin: 0 16px;
  text-align: center;
  color: #fff;
}
/* 装飾的なCSS */
nav {
  background-color: #666;
}
.content {
  text-align: center;
}
.archive h3 {
  text-align: center;
}
.archive-box {
  display: flex;
}
figure figcaption {
  text-align: center;
}
nav {
  padding: 20px;
}
li {
  list-style: none;
  padding: 20px 0;
}
li a{
  color: #fff;
}